/* .arrow {
	align-items: center;
  width: 40px;
	height: 40px;
	justify-content: center;
}

@media (max-width: 768px) {
	.fWohKN {
		margin: 0px !important;
		padding: 0 15px 50px 0 !important;
	}
}

@media (max-width: 1024px) {
	.fWohKN {
		margin: 0px !important;
		padding: 0 15px 35px 0 !important;
	}
}	 */