.blog-section {
    width: 100%;
    height: 100vh;
    background: #fff !important;
}

.blog-description {
    font-size: 120px;
    text-align: center;
    color: black;
    background: burlywood;
    z-index: 2;
}