.home {
    width: 100%;
    height: 100vh;
    background: url(../imgs/logo-removebg-preview.png) 0 0 no-repeat;
}

.home-description {
    font-size: 12px;
    text-align: left;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 60%;
    font-family: Tohoma;
    z-index: 10;
    left: 120px;
}

.video_buttom {
    background: transparent url(../imgs/logo-removebg-preview.png) 0 0 no-repeat;
    right: 0;
    position: absolute;
    bottom: 45px;
    z-index: 3;
    background-size: cover;
}

.video_buttom a {
    display: block;
    width: 220px;
    height: 147px;
    position: relative;
    border: #0ead59;
}

.video_buttom a span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: white;
    background-color: #f9b03e;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 8px;
    border-radius: 50px;
}

.video_buttom a span:before {
    content: "";
    background: #f9b03e;
    position: absolute;
    top: -0.625em;
    left: -0.625em;
    right: 50%;
    bottom: -0.625em;
    z-index: -1;
    opacity: 0.5;
    border-radius: 5em 0 0 5em;
    transition: all 0.7 ease;
}

.video_buttom a:hover > .video_buttom a span:before,
.video_buttom a span:hover:before{
    right: -0.625em;
    transform: rotate(240deg);
    border-radius: 5em;
}

.social_buttons_area {
    position: absolute;
    left: 15px;
    bottom: 10px;
    z-index: 90;
}

.social_buttons_area .social_buttons {
    display: inline-block;
    margin: 0;
    font-size: 16px;
}

.social_buttons_area .social_buttons a {
    display: inline-block;
    margin-right: 25px;
    position: relative;
    text-decoration: none;
    color: white;
    opacity: 0.5;
}

.social_buttons_area .social_buttons a:hover {
    opacity: 1 !important;
    color: #f9b03e;
}