.portfolio-setion {
    width: 100%;
    height: 100vh;
    background: var(--background-color);
    z-index: 1;
    position: relative;
    padding: 30px;
  }


  .portfolio-description {
    font-size: 120px;
    text-align: center;
    color: black;
    background: burlywood;
    z-index: 2;
    /* position: absolute; */
  }